{% load static %}

<div class="header">
        <div class="header-block">
            <div class="search">
                <input type="text" class="input-header">
                <a href="#" class="search-img"><img src="{% static 'img/search.png' %}" alt="img"></a>
            </div>
            {% if user.is_authenticated %}
            <div class="basket-div">
                <a href="{% url 'basket:index' %}" class="basket">Корзина</a>
                <span class="basket-span">{{ user.basket_cost|floatformat:0 }} руб ({{ user.total_quantity }} шт)</span>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <nav class="menu-1">
                <ul>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user.first_name|default:'Пользователь'}}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'auth:user_profile' %}">
                                    Профиль
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'neworder:index' %}">
                                    заказы
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {% endif %}
            {% if user.is_superuser %}
            <a href="{% url 'myadmin:index' %}" class="admin-usr">
                Админка
            </a>
            {% endif %}
            <div class="login-header">
                {% if user.is_authenticated %}
                <a class="login" href="{% url 'auth:logout' %}"><h3 class="h3-login">Выход</h3></a>
                {% else %}
                <a class="login" href="{% url 'auth:login' %}"><h3 class="h3-login">Вход</h3></a>
                {% endif %}
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#"><h3 class="h3-menu">Меню</h3></a>
                        <ul>
                            <li><a href="{% url 'main:index' %}" class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">Главная</a></li>
                            <li><a href="{% url 'main:products' %}" class="{% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'catalog' %}active{% endif %}">Продукты</a></li>
                            <li><a href="{% url 'main:contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Контакты</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
</div>
