{% extends 'authapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block container  %}
<div class="login">
            <div class="h2 text-center head">
                Вход
            </div>
        </div>
<form class="login-form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="login-input" type="submit" value="Войти">
    <a class="login-reg" href="{% url 'auth:user_register' %}">Зарегистрироваться</a>
</form>
{% endblock %}