{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="user_delete">
        Уверены, что хотите удалить продукт <b>{{ object.name }}</b>?
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="сохранить" class="btn btn-danger">
        </form>
        <a href="{% url 'myadmin:category_products' object.category.pk %}" class="btn btn-success">
            отмена
        </a>
    </div>
{% endblock %}