{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block container %}
    <div class="new_category_form">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="сохранить"  class="form-control">
        </form>
        <a href="{% url 'myadmin:category_products' category.pk %}" class="btn btn-primary form-control last">
            к списку продуктов
        </a>
    </div>
{% endblock %}
