body {
    margin: 0;
    background-image: url(../img/back-img.jpg);
    font-family: "Impact";
}
.div-basket {
    margin: 0;
    width: 80%;
    height: 80%;
    background-color: darkgrey;
}
.basket_list {
    text-align: center;
    color: #a1abb5;
}
.h2 {
    text-align: center;
    color: #a1abb5;
}