body {
    margin: 0;
    background-image: url(../img/back-img.jpg);
    font-family: "Impact";
}
.container {
    text-align: center;
    padding-top: 10%;
}
.login {
    color: #a1abb5;
}
.btn.btn-round.form-control.vk {
    position: absolute;
    top: 75%;
    left: 35%;
    color: #a1abb5;
}
.btn.btn-round.form-control.google {
    position: absolute;
    top: 75%;
    left: 50%;
    color: #a1abb5;
}
.login-form p {
    color: #a1abb5;
}
.login-input {
    position: absolute;
    left: 48.5%;
}
.login-reg {
    position: absolute;
    top: 70%;
    right: 45%;
    color: #a1abb5;
}