body {
    margin: 0;
    background-image: url(../img/back-img.jpg);
    font-family: "Impact";
}
.container {
    text-align: center;
    padding-top: 10%;
}
.login-reg {
    color: #a1abb5;
}
.login-form p {
    color: #a1abb5;
}
.login {
    color: #a1abb5;
}