body {
    margin: 0;
    background-image: url(../img/back-img.jpg);
    font-family: "Impact";
}
.list {
    position: relative;
}
.header-block {
    height: 50px;
}
a {
    text-decoration: none;
}
.search-img {
    position: absolute;
    padding-left: 10px;
    padding-top: 4px;
}
.search {
    width: 155px;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0;
}
.block-1 {
    position: absolute;
    margin-left: 150px;
    width: 80%;
    height: 600px;
    background-image: url(../img/img1.jpg);
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
.h3-foot {
    color: #a1abb5;
}
.block-2 {
    position: absolute;
    margin-left: 150px;
    height: 910px;
    width: 80%;
    background-image: url(../img/img3.jpg);
    background-repeat: no-repeat;
    clip-path: polygon(0 38%, 100% 5%, 100% 50%, 0 90%);
    box-shadow: 0 0 5px;
    top: 330px;
}
.block-3 {
    position: absolute;
    margin-left: 150px;
    height: 800px;
    width: 80%;
    background-image: url(../img/img4.jpg);
    background-repeat: no-repeat;
    clip-path: polygon(0 52%, 100% 6%, 100% 50%, 0 100%);
    box-shadow: 0 0 5px;
    top: 760px;
}
.footer {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: #262323;
    bottom: 0;
    box-shadow: 0 0 5px;
    top: 1540px;
}
.h1-block-1 {
    color: #a1abb5;
    padding-top: 320px;
    padding-left: 50px;
}
.h3-menu {
    color: #a1abb5;
    margin: 0;
}
.login-header {
    position: absolute;
    top: 15px;
    left: 85%;
}
.login {
    font-size:20px;
}
.h3-login {
    color:#a1abb5;
    font-size: 23px;
    margin: 0;
}
.h1-block-2 {
    padding-top: 620px;
    padding-left: 50px;
    color: #a1abb5;
    margin: 0;
    height: 40px;
    width: 180px;
}
.basket {
    position: absolute;
    left: 240px;
    top: 15px;
    color: #a1abb5;
    font-size: 20px;
}
.profile-usr {
    position: absolute;
    left: 330px;
    top: 15px;
    color: #a1abb5;
    font-size: 20px
}
.a-bl2 {
    color: #a1abb5;
}
.a-bl3 {
    color: #a1abb5;
}
.h1-block-3 {
    padding-top: 620px;
    padding-left: 50px;
    margin: 0;
    width: 80px;
    height: 40px;
}
.a-bl1 {
    color: #a1abb5;
}
.header {
    background-color: #393939;
    height: 50px;
    box-shadow: 0 0 5px 2px;
}
.menu {
    position: absolute;
    right: 5%;
    top: 15px;
}
.clearfix {
    clear: both;
}	
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
}
nav a {
    display:block;
    padding:0 10px;
    color:#a1abb5;
    font-size:20px;
    line-height: 30px;
    text-decoration:none;
}
nav a:hover {
    background-color: rgba(255,255,255,0.3);
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
	
nav ul li:hover > ul {
    display:inherit;
}
	
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}