body {
    margin: 0;
    background-image: url(../img/back-img.jpg);
    background-repeat: no-repeat;
    font-family: "Impact";
}
.contact {
    background-color: #393939;
    width: 85%;
    height: 600px;
    margin-left: 100px;
    margin-top: 40px;
    box-shadow: 0 0 5px 2px;
}
.menu {
    position: absolute;
    right: 5%;
    top: 0px;
}
.h3-menu {
    color: #a1abb5;
    margin: 0;
}
.h3-login {
    color:#a1abb5;
    font-size: 23px;
    margin: 0;
}
.login-header {
    position: absolute;
    top: 15px;
    left: 85%;
}
.location {
    display: inline-table;
    background-color: #909090;
    height: 100px;
    width: 200px;
    text-align: center;
}
.location p {
    color: #000000;
    font-size: 16px;
}
.location h5 {
    color: white;
    font-size: 15px;
}
.block-1 {
    padding-left: 340px;
    padding-top: 150px;
}
.login {
    font-size:20px;
}
.header-block {
    height: 50px;
}
.search-img {
    position: absolute;
    padding-left: 10px;
    padding-top: 4px;
}
.h3-foot {
    color: #a1abb5;
}
.search {
    width: 155px;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0;
}
.footer {
    height: 150px;
    background-color: #393939;
    box-shadow: 0 0 5px 2px;
}
.header {
    background-color: #393939;
    height: 50px;
    box-shadow: 0 0 5px 2px;
}
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
}
nav a {
    display:block;
    padding:0 10px;
    color:#a1abb5;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}
nav a:hover {
    background-color: rgba(255,255,255,0.3);
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
	
nav ul li:hover > ul {
    display:inherit;
}
	
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
a {
    text-decoration: none;
}