body {
    margin: 0;
    background-image: url(../img/back-img.jpg);
    background-repeat: no-repeat;
    font-family: "Impact";
}
.h3-menu {
    color: #a1abb5;
    margin: 0;
}
.header-block {
    height: 50px;
}
.login-header {
    position: absolute;
    top: 15px;
    left: 85%;
}
.basket {
    position: absolute;
    left: 240px;
    top: 15px;
    color: #a1abb5;
    font-size: 20px;
}
.profile-usr {
    position: absolute;
    left: 330px;
    top: 15px;
    color: #a1abb5;
    font-size: 20px
}
.header__bottom_link {
    color: grey;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    line-height: 70px;
    text-decoration: none;
    padding: 0 50px 0 50px;
    text-transform: uppercase;
}
.header__bottom_link:hover {
    color: whitesmoke;
    background: grey;
}
.login {
    font-size:20px;
}
.h3-login {
    color:#a1abb5;
    font-size: 23px;
    margin: 0;
}
.search-img {
    position: absolute;
    padding-left: 10px;
    padding-top: 4px;
}
.block {
    width: 270px;
    display: inline-flex;
}
.related {
    text-align: center;
}
.title {
    color:#a1abb5;
}
.menu {
    position: absolute;
    right: 5%;
    top: 15px;
}
.products {
    background-color: #393939;
    width: 85%;
    height: 600px;
    margin-left: 100px;
    margin-top: 40px;
    box-shadow: 0 0 5px 2px;
}
.search {
    width: 155px;
    padding-left: 20px;
    padding-top: 15px;
    margin: 0;
}
.h3-foot {
    color:#a1abb5;
}
.header {
    background-color: #393939;
    height: 50px;
    box-shadow: 0 0 5px 2px;
}
.footer {
    height: 150px;
    background-color: #393939;
    box-shadow: 0 0 5px 2px;
}
a {
    text-decoration: none;
}
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
}
nav a {
    display:block;
    padding:0 10px;
    color:#a1abb5;
    font-size:20px;
    line-height: 30px;
    text-decoration:none;
}
nav a:hover {
    background-color: rgba(255,255,255,0.3);
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
	
nav ul li:hover > ul {
    display:inherit;
}
	
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
.links-menu {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}
.links-menu li {
    margin: 0px -7px 0 0;
    display:inline-block;
}
.links-menu a {
    display:block;
    padding:0 10px;
    color:#a1abb5;
    font-size:20px;
    line-height: 30px;
    text-decoration:none;
}
.links-menu a:hover {
    background-color: rgba(255,255,255,0.3);
}
.catalog-menu {
    text-align: center;
}
