{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style-product.css' %}">
{% endblock %}
{% block container %}
{% include 'mainapp/includes/include_menu.html' %}
<div class="products">
    <div class="catalog-menu">
        {% include 'mainapp/includes/catalog_menu.html' %}
    </div>
    <div class="related">
        <div class="title clearfix">
            <h2>Продукты в категории {{ category.name|capfirst}}</h2>
        </div>
        <div class="related-products clearfix">
            {% for product in products %}
                {% include 'mainapp/includes/include_product.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
