{% extends 'mainapp/base.html' %}

{% block container %}
<div class="list-product">
    <div class="header-product">
        <div class="header-product-1">
            <div class="search">
                <input type="text" class="input-product">
                <a href="#" class="search-img"><img src="img/search.png" alt="img"></a>
            </div>
            {% include 'mainapp/includes/include_menu.html' %}
        </div>
    </div>
    <div class="products">
    {% for category in categories %}
        <a href="#" class="header_bottom_link"><li class="header_bottom_text">{{ category.name }}</li></a>
    {% endfor %}
    </div>
</div>
